.todo-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #918bbb;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(50, 9, 9, 0.1);
}

.todo-header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin: 10px 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.edit-task {
  display: flex;
  align-items: center;
}

.edit-input {
  flex: 1;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
}

.save-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.display-task {
  display: flex;
  align-items: center;
}

.edit-button,
.delete-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}

.add-task-form {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.add-task-input {
  flex: 1;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.add-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
  .todo-container {
    padding: 10px;
  }
}
